body {
	margin: 0;

	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 15px;

	background-color: #36a5b7;
	color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#app {
	width: 100%;
	margin: 0 auto;
}

#header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	/* grid-template-columns: repeat(auto-fill, 15em); */
	grid-template-rows: 60px;
	gap: 5px 10px;
	align-content: center;
	overflow: hidden;
}

#header div {
	padding: 0.5rem;
}

#p5-container {
	width: 100% !important;
	height: calc(100vh - 85px) !important;
}

#footer {
	text-align: center;
	height: 30px;
}

a {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color: #c6e0e4;
}

select {
	background-color: rgba(255, 255, 255, 0.31);
	border-color: inherit;
	color: #FFF;
	width: 100%;
}

select option {
	color: #000;
}

select:focus, select:active {
	outline: none;
}


input[type="range"] {
	-webkit-appearance: none;
	margin-right: 15px;
	width: 200px;
	height: 7px;
	/* background: rgba(255, 255, 255, 0.78); */
	border-radius: 5px;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
	background-size: 70% 100%;
	background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
}







@media only screen and (max-width: 1280px) {
	#header {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#p5-container {
		height: calc(100vh - 151px) !important;
	}
}

:root {
}

@media (prefers-color-scheme: light) {
	:root {
		/* color: #213547;
		background-color: #ffffff; */
	}
}

/* button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.1em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: rgba(255, 255, 255, 0.31);
	cursor: pointer;
	transition: border-color 0.25s;
	transition: color 0.25s;
	color: #fff;
}

button:hover {
	border-color: #fff;
	background-color: rgba(255, 255, 255, 0.78);
	color: rgb(79, 79, 79);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
} */